@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #f0eef1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}

table {
    border-collapse: collapse;
	border-spacing: 0;
}

header{
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 42px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    background-color: #f0eef1;
    font-family: 'Poppins', sans-serif;
}

main>button {
    font-size: x-large;
    font-weight: bold;
    background-color: white;    
    padding: 1rem;
    display: block;
    border-radius: 8px;
    border: 1px solid white;
}

#books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 16rem;
    width: 20rem;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}

.book>p{
    font-size: 32px;
    font-weight: normal;
}

.book>button{
    font-size: 24px;
    width: 90%;
    height: 2.5rem;
    border-radius: 8px;
    border: 0;
}

.read{
    background-color: #9fff9d;
}

.notRead{
    background-color: #f79c9d;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
}

.github:before {
    content: "\f09b";
}

.github {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}